* {
  padding: 0;
  margin: 0;
}


/* ===== Actual Styles ===== */

/* ===== Horizontal Rule ===== */

.rule {
  margin: 10px 0;
  border: none;
  height: 1.5px;
    width: 40%;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #c9bbae, #f0f0f0);
  background-image: linear-gradient(left, #f0f0f0, #c9bbae, #f0f0f0);
}

/* ===== Select Box ===== */
.sel {
font-size: 0.8em;
display: inline-block;
width: 50%;
background-color: #FFF;
position: relative;
cursor: pointer;
margin-bottom: 10px;
}

.sel::before {
  position: absolute;
  content: '\f063';
  font-family: 'FontAwesome';
  font-size: 1.3em;
  color: #FFF;
  right: 10px;
  top: calc(50% - 0.5em);
}

.sel.active::before {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

.sel__placeholder {
    
  background-color: #e2e2e2;
  display: block;
  font-family: 'Quicksand';
  font-size: 2em;
  color: cadetblue;
  padding: 0.2em 0.5em;
  text-align: left;
  pointer-events: none;
  visibility: visible;
    opacity: 100%;
}

.sel.active .sel__placeholder {
  visibility: hidden;
}

.sel__placeholder::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.2em 0.5em;
   content: attr(data-placeholder);
  visibility: hidden;
}

.sel.active .sel__placeholder::before {
  visibility: visible;
}

.sel__box {
  position: absolute;
  top: calc(100% + 4px);
  left: -4px;
  display: none;
  list-style-type: none;
  text-align: left;
  font-size: 1.3em;
  background-color: #e2e2e2;
  width: calc(100% + 8px);
  box-sizing: border-box;
}


.sel.active .sel__box {
  display: block;
  -webkit-animation: fadeInUp 600ms;
          animation: fadeInUp 600ms;
}

.sel__box__options {
  display: list-item;
  font-family: 'Quicksand';
  font-size: 1.3em;
  color: #29617a;
  padding: 0.5em 1em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sel__box__options::after {
  content: '\f00c';
  font-family: 'FontAwesome';
  font-size: 1em;
  margin-left: 5px;
  display: none;
}

.sel__box__options.selected::after {
    color: darkslategray;
  display: inline;
}

.sel__box__options:hover {
  background-color: cadetblue;
    color: antiquewhite;
}

/* ----- Select Box Black Panther ----- */
.sel {
  border-bottom: 4px solid rgba(0, 0, 0, 0.3);
}

.sel--black-panther {
  z-index: 3;
}

/* ----- Select Box Superman ----- */
.sel--superman {
/*   display: none; */
  z-index: 2;
}

/* ===== Keyframes ===== */
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.d2 {
    width: 50%;
    text-align: left;
}

.d1 {
    font-weight: bold;
    font-size: 16px;
}

.d3 {
    padding-left: 30%;
}
